html, body, div, span, input, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}

.theMovieDb-search {
	text-align: center;
	font-size: 18px;

	.search-field {
		width: 90%;
		height: 30px;
		border-radius: 5px;
		border: 1px solid lightgrey;
		padding: 3px 10px;
	}

	.search-results {
		text-align: left;
		margin: 20px;
		list-style: none;

		.item {
			padding: 10px;
			border: 1px solid lightskyblue;
			margin: 3px 0;
		}
	}
}
